<template>
    <v-container>
        <v-row>
            <v-col class="text-center">
                <p class="display-4"></p>
                <p class="font-italic font-weight-light"> Rangliste 
                </p>
            </v-col>
        </v-row>
    </v-container>
</template>