<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <p class="display-1">Ranking</p>
                <p class="font-italic font-weight-light">
                    Here's a list of the best players worldwide. 
                </p>
            </v-col>
        </v-row>


 <v-row>
            <v-col>
                <v-card tile>
                    <v-list three-line>
                        <template v-for="quiz in ranking">
                            <v-list-item :key="quiz.id"
                                         :to="'/Ranking/' + quiz.id">
                                <v-list-item-content>
                                    <v-list-item-title v-text="quiz.title"></v-list-item-title>
                                    <v-list-item-subtitle v-text="quiz.description"></v-list-item-subtitle>
                                </v-list-item-content>
                                <v-list-item-action>
                                </v-list-item-action>
                            </v-list-item>
                        </template>
                    </v-list>
                </v-card>
            </v-col>
        </v-row>

          <v-snackbar v-model="snackbar"
                    :right="true"
                    :top="true">
            {{ snackbarText }}
        </v-snackbar>

    </v-container>
</template>

<script>
    import {RepositoryFactory} from "./../../repositories/";

    const repositories = RepositoryFactory.get('Ranking');

    export default {
        name: "Ranking",
        data: () => ({
            Ranking: [],
            snackbarText: '',
            snackbar: false,
        }),

        created() {
            this.fetchData();
        },

        methods: {
            fetchData() {
                RankingRepository.get()
                    .then(response => {
                        if (response.status === 200) {
                            this.quizzes = response.data;
                        } else {
                            throw Error("Failed loading Ranking List.");
                        }
                    })
                    .catch(() => {
                        this.showSnackbar("Failed loading Ranking List.");
                    });

            },

            showSnackbar(text) {
                this.snackbarText = text;
                this.snackbar = true;
            },
        }
    }
</script>

<style scoped>
    .v-list-item__action--stack {
        flex-direction: row;
    }
</style>